$main: #436372;
$accent: red;
$light: #b7b7b7;
$dark: #1f2044;
$btn-color: #a3bbc8;

%rubikR {
  font-family: 'RubikR', sans-serif;
  font-weight: 400;
}

%rubikM {
  font-family: 'RubikM', sans-serif;
  font-weight: 500;
}

%dmsansR {
  font-family: 'DMSansR', sans-serif;
  font-weight: 400;
}
%dmsansM {
  font-family: 'DMSansM', sans-serif;
  font-weight: 500;
}
%dmsansB {
  font-family: 'DMSansB', sans-serif;
  font-weight: 700;
}

%btn{
  background-color: $btn-color;
  border: none;
  color: #fff;
  padding: 19px 16px;
  line-height: 0;
  font-size: 14px;
  @extend %dmsansR;
}

@function max($numbers...){
  @return m#{a}x(#{$numbers});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers});
}